<p>Reflection works!</p>

<div class="row justify-content-center">

  <div class="btn-group" mdbDropdown>
    <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
      mdbWavesEffect>
      Basic dropdown
    </button>

    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="divider dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <button         style="background-color: #83DEB6; border-color: #83DEB6;"
  type="button" class="btn btn-warning" (click)="goToRating()">Weiter ></button>


  <div class="col-sm"></div>
</div>



<ngb-accordion class ="style" #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let c_and_n of categories_and_notes">
  <ngb-panel class ="card" title="{{c_and_n[0]}}">
    <ng-template ngbPanelContent *ngFor="let note of c_and_n[1]">
      
        {{note}}

    </ng-template>
    </ngb-panel>
  
</ngb-accordion>
