.wrapper{
  margin-top: 10%;
  margin-left: 3rem;
  margin-right: 3rem;

  vertical-align: middle;

}

.text{
  margin-left: 3rem;
  margin-right: 3rem;

  vertical-align: middle;
}

.card {
    width: 40%;
    height: 100px;
    line-height: 100px;
    background-color: grey;
    margin: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  .acc{
    width: 100%;
    margin: 5%;
  }
