<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="test">Herzlich willkommen!</h1>
    </div>
  </div>
  <div class="row">
    <div class="textspacer">
      <p>
        Suche Dir einen ruhigen Ort, mach es Dir gemütlich, schalte Deine Benachrichtigungen aus und versuche dich bewusst nicht ablenken zu lassen.
        </p>
        <p>Meditation hilft Dir zu entspannen und kann nachhaltig Deinen Stress senken und deine Konzentration steigern.</p>
        <p>Viel Spaß mit deiner Zeit für Dich!</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-success" (click)="redirectToFrage()">
        Start
      </button>
    </div>
  </div>
</div>
