.wrapper{
  margin-left: 3rem;
  margin-right: 3rem;

  align-items: center;
  justify-content: center;
}
.statement{
  font-weight: bold;
  justify-content: center;
  font-size: 200%;
}

.timeAndClock{
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.time{
  font-weight: bold;
  justify-content: center;
  font-size: 500%;
}
