<div class="wrapper">



  <div class="row justify-content-center text-center">
    <h3>Meditationsphase</h3>
  </div>

  <div class="row justify-content-center text-center">

    <p>
     Suche dir eine entspannte Position und denke bewusst über die gestellten Fragen nach.
    Versuch deine Gedanken im Notizenfeld auszuformulieren und zu speichern.
    </p>
  </div>

  <div class="row justify-content-center">
    <h2>{{ timeLeft }}</h2>
    <p>Nehme dir nun die Zeit über folgendes nachzudenken: </p>
    <img src="https://svgsilh.com/png-1024/2986417.png" width="100px" alt="">

    <div>
    <p class=statement> {{ choosen_statement }} </p>

<div class="row justify-content-center">
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Platz für deine Notizen</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="8"
        [(ngModel)]="defaultValue"
        [ngModelOptions]="{standalone: true}"
      ></textarea>
    </div>
  </form>
</div>
<div class="row justify-content-center">
  <button #buttonVar type="button" class="btn btn-success" (click)="switchButtons()"         style="background-color: #83DEB6; border-color: #83DEB6; color:black;"
  >
    {{buttonValue}}
  </button>
  
  <div></div>

</div>


<div id="player" style="height: 0px;"></div>

<button type="button" class="btn btn-light" (click)="toogleVideo()">

  <i class="fas fa-volume-mute" *ngIf="videoState"></i>
  <i class="fas fa-volume-up" *ngIf="!videoState"></i>

</button>


</div>
