.ratingcontainter{
  margin-left: 20 px;
}


.wrapperslider{
  margin: 50px;

}


.custom-slider .ngx-slider .ngx-slider-tick {
  width: 100px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}


.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

::ng-deep.custom-slider .ngx-slider .ngx-slider-bar{


    background: white;
    height: 5px;



  }


::ng-deep.custom-slider .ngx-slider .ngx-slider-pointer{
  background: #83DEB6;
}

::ng-deep.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: orange;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  background: #83DEB6;
}
